<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Vue.js App</title>
  <link href="main.css" rel="stylesheet">
</head>
<body>
  <div id="app">
    <input type="text" v-model="name">
    <button @click="addMonster">Add Monster</button>
    <ul>
      <li v-for="(monster, index) in monsters"
        :key="monster.id"
        :class="{ strong: monster.hp > 300 }" >
        ID.{{ monster.id }} {{ monster.name }} HP.{{ monster.hp }}
        <button @click="removeMonster(index)">Remove</button>
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>
