<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Vue.js App</title>
  <link href="main.css" rel="stylesheet">
</head>
<body>
  <div id="app">
    <input type="number" v-model.number="budget"> 円以下に絞り込む
    <input type="checkbox" v-model="showAll"> 全件表示
    <p>{{ matched.length }} 件中 {{ limited.length }} 件を表示</p>
    <ul>
      <li v-for="fruit in limited" :key="fruit.id">
        {{ fruit.name }} {{ fruit.price }} yen
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>
